  
  .registro-card {
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  
  .custom-item {
      --padding-start: 10px;
      --align-items: center;
      display: flex;
      align-items: center;
  }

  
  .custom-item ion-icon {
      font-size: 22px;
      
      margin-right: 10px;
      
      align-self: center;
      
  }


  .error-message {
    background: var(--ion-item-background, #ffffff); 
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid var(--ion-color-danger, red); 
    color: var(--ion-color-danger, red);
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
  

  .error-message ion-icon {
      margin-right: 4px;
  }

  
  .link-style {
      color: #3880ff;
      text-decoration: underline;
      cursor: pointer;
  }

  .link-style:hover {
      color: #3171e0;
  }

  
.ion-button-rounded {
    --border-radius: 25px; 
    --padding-start: 15px; 
    --padding-end: 15px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
  }
  