<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.username }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Rol:</strong> {{ user.role }}</p>
      <p><strong>Último Inicio de Sesión:</strong> {{ user.last_login }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
