<!-- home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ user?.username }}</ion-card-title>
      <ion-card-subtitle>Tu rol: <strong>{{ user?.role }}</strong></ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-button expand="full" routerLink="/profile" color="primary">
          Ver mi Perfil
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>


  <div *ngIf="user?.role?.includes('master')">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Panel de Administrador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" routerLink="/admin-users" color="warning">
          Gestionar Usuarios
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>